RewriteEngine On

# If the request is for /admin/ or /admin (with or without trailing slash)
# RewriteRule ^admin/?$ views/admin/dashboard.php [L]

# If the request is for /admin/anything or /admin/anything/ (e.g., /admin/dashboard)
# RewriteRule ^admin/(.*)$ views/admin/$1.php [L]

# If the request is for any other file or directory, append .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]