$light-blue: #9EC5FE;

header {
    box-shadow: 5px 5px 25px 0px rgb(213, 213, 213);
}

h1 {
    font-size: 2rem;
}

.table-dark {
    height: 50px;
    font-size: 1.2rem;
}

.user-button,
.book-button {
    height: 50px;
    border-radius: 0;
    &:focus {
        box-shadow: none !important;
    }
    &:hover {
        background-color: $light-blue;
    }
    &:active {
        background-color:#6BA6FD;
    }
}
.clicked-button {
    box-sizing: border-box;
    background-color:$light-blue;
    color: #fff;
}

.table-custom {
    td {
        padding: 0;
        margin: 5px;
    }
}

navbar {
    ul {
        list-style: none;
        font-weight: 500;
    }
}

table {
    a {
        text-decoration: none !important;
        color: inherit;
    }
}

.astronomy-category {
    background-color: $light-blue !important;
}

.span-number {
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-link {
    padding: 3px !important;
}

.library-info {
    a {
        text-decoration: none;
    }
    .icon {
        width: 190px;
        box-shadow: 5px 5px 25px 0px rgb(213, 213, 213);
        border-radius: 20px;
            svg {
                margin-top: 15px;
                width: 50px;
                height: 50px;    
                path {
                    fill: #2079FC;
                }    
            }
    }    
    .user-icon {
        svg {
            width: 50px;
            height: 50px;    
            path {
                fill: #2079FC;
            }    
        }
    }
}

.student-page {
    h1 {
        font-size: 1.3rem !important;
        color: #2079FC;
    }
}
